body {
    margin-top: 60px;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}

.hidden-element {
    display: none;
}

.disabled-button {
    opacity: 0.5;
}

.small-image {
    width: 250px;
}

input.ng-invalid.ng-dirty {
    background-color: pink;
}

h3 {
    margin-left: 130px;
}

#loginBtn{
    margin-left: 130px;
}

#registerBtn{
    margin-left: 130px;
}

.glyphicon-off {
    margin-right: 5px;
    color: #3a9a3a;
}

.caret {
    margin-left: 7px;
    color: #3a9a3a;
}