<div ng-include="'app/views/navigation-header.html'"></div>
<div class="jumbotron" style="height: 100%">
    <h1>Dashboard</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>proekt</td>
            <td>Proekta be</td>
            <td>i tretiq</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Bad Request</td>
            <td>kirobank</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>barni mi go</td>
            <td>kirobank</td>
            <td>30/03/2016</td>
        </tr>
        <tr>
            <td>barni mi go</td>
            <td>kirobank</td>
            <td>02/04/2016</td>
        </tr>
        </tbody>
    </table>
</div>
